#form {
    background-color: orange;
    display: inline-block;
    width:320px;
    padding: 10px;
    position:absolute;
    left:calc((100% - 320px) / 2);
    border-radius: 5px;
    border: 2px double green;

}
#name-sub-form {

}
#salary-sub-form {
    display: inline-block;
}
#birthday-sub-form {
    display:inline-block;
    position:absolute;
    right: 5px;
}
#form-submit-button {
    background-color: green;
}